button {
    background-color: transparent;
    border: none;
    color: white;
}

.break {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.break-setting {
    display: flex;
    gap: 10px;
}